:root {
  --color-violet-blue: #5b4ddb;
  --color-violet-blue-light: #7c6df0;
  --color-violet-blue-dark: #3d2fb8;

  --bg-primary: #ffffff;
  --bg-light: #f8fafc;

  //text
  --primary-text: #000;
  --secondary-text: #404040;
  --accent-text: #5b4ddb;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --success-color: #22c55e;
  --error-color: #ef4444;
  --border-color: #f1f5f9;
  --icon-color: #e2e8f0;
}
