@use "variables" as *;
@use "typography" as *;
@use "buttons" as *;
@use "forms" as *;
@use "theme-toggle" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100svh;
  background-color: var(--bg-primary);
  color: var(--primary-text);
}

#root {
  min-height: 100svh;
}
